{{ 'index-page.css' | asset_url | stylesheet_tag }}
{{ 'index-page.js' | asset_url | script_tag }}
    <section class="Presentation">
        <video poster="https://cdn.shopify.com/s/files/1/0648/8670/2332/files/poster_usa.jpg?v=1663845051" autoplay=""
            muted="" loop="" playsinline="" id="videointro" alt="Vinyl Way - adhesive tiles">
            Un problème est survenu lors de la lecture de la vidéo.
        </video>

        <span class="bgDiag"></span>

        <div class="titleH1">
            <h1>
                <span>Carreaux adhésifs</span>
                <small>20 x 20 cm</small>
            </h1>
        </div>
        <a class="mobileBtnPresentation btn btn-1" href="collection-collections.php">Découvrir les collections</a>
        <div class="contentPresentation">
            <div>
                <span>2.99€</span>
                <p><span>Tous les</span> <span>carreaux</span></p>
                <a class="desktopBtnPresentation btn btn-1" href="collection-collections.php">Découvrir les
                    collections</a>
            </div>
            <ul class="mobileIconsPresentation">
                <li>économique</li>
                <li>facile à poser</li>
                <li>waterproof</li>
                <li>thermo-résistant</li>
            </ul>
            <ul class="desktopIconsPresentation">
                <li>
                    <img src="icon1.svg" />
                    <span>Résistant
                        <small>à l'eau</small>
                    </span>
                </li>
                <li>
                    <img src="icon2.svg" />
                    <span>Résultat
                        <small>bluffant</small>
                    </span>
                </li>
                <li>
                    <img src="icon3.svg" />
                    <span>Résistant
                        <small>à l'eau</small>
                    </span>
                </li>
                <li>
                    <img src="icon4.svg" />
                    <span>Sans outils
                        <small>facile</small>
                    </span>
                </li>
                <li>
                    <img src="icon1.svg" />
                    <span>Se nettoie
                        <small>facilement</small>
                    </span>
                </li>
            </ul>
        </div>
    </section>
    <section class="Transform">
        <img src="https://cdn.shopify.com/s/files/1/0648/8670/2332/files/Sans-titre-1.gif?v=1665584574">
        <div>
            <h2><span>Transformez</span> <span>votre intérieur</span></h2>
            <p>On joue ici avec les matériaux pour des effets variés et travaillés. Du marbre pour le chic, des
                briques pour du rustique. Des carreaux de métro pour une touche urbaine ou encore un beau bois
                blanchi pour un style scandinave. Bref, faites vous plaisir, tous les effets sont permis !</p>
            <a class="btn btn-2" href="collection-collections.php">Nos collections</a>
            <a class="btn btn-3" href="collection-colors.php">Tous nos carreaux</a>
        </div>

      <!-- TrustBox widget - Micro Combo -->
<div class="Truspilot trustpilot-widget" data-locale="fr-FR" data-template-id="5419b6ffb0d04a076446a9af" data-businessunit-id="60e42806f733a10001be85f3" data-style-height="20px" data-style-width="100%" data-theme="light" data-stars="1,2,3,4,5" data-no-reviews="hide" data-scroll-to-list="true" data-allow-robots="true">
  <a href="https://fr.trustpilot.com/review/vinyl-wall.com" target="_blank" rel="noopener">Trustpilot</a>
</div>
<!-- End TrustBox widget -->
      
    </section>
    <section class="SlideProducts" style="background-color:#F7F2EE;">
        <h2>Nos coups de cœur</h2>
        <div id="splideProducts" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide" data-color="#F7F2EE">
                        <a href="product.php"><img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/3.jpg?v=1666780078">
                            <span>Napoli n°1</span>
                        </a>
                    </li>
                    <li class="splide__slide" data-color="#b4c1c0">
                        <a href="product.php"><img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/1.jpg?v=1666781947">
                            <span>Berlin n°2</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <a class="btn btn-2" href="collection-colors.php">Découvrir nos carreaux</a>
    </section>
    <section class="SlideCollections">
        <h2>Nos collections</h2>
        <div id="splideCollections" class="splide">
            <div class="splide__track">
                <ul class="splide__list">

                  {% for collection in collections %}
                  {% if collection.handle == "dublin" or collection.handle == "londres" or collection.handle == "berlin"
                    or collection.handle == "hossegor" or collection.handle == "florence" or collection.handle == "brooklyn" %}

                  <li class="splide__slide {{ collection.handle }}">
                        <h3>{{ collection.handle }}</h3>
                        <a class="slideCollectionsImage" href="{{ collection.url }}">
                            <img src="{{ collection.products.first | img_url: '415x' }}">
                            <div>
                              
                              {% for product in collection.products %}
                                <img src="{{ product.images[1] | img_url: '70x' }}">
                                {% endfor %}
                    
                            </div>
                        </a>
                        <a href="collections-collections" class="slideCollectionsBtn">Voir</a>
                    </li>
                    
                  {% endif %}
                    {% endfor %}
                    
                </ul>
            </div>
        </div>
    </section>
    <section class="Quality">
        <div>
            <h2><span>Qualité <img src="madeinfrance.svg">
                </span>
                <b>Made in France</b></span>
            </h2>
            <p>On joue ici avec les matériaux pour des effets variés et travaillés. Du marbre pour le chic, des
                briques pour du rustique. Des carreaux de métro pour une touche urbaine ou encore un beau bois
                blanchi pour un style scandinave. Bref, faites vous plaisir, tous les effets sont permis !</p>
        </div>
        <div>

            <div class="bgDiag">
                <div>
                </div>
            </div>

            <ul>
                <li>Visuel imprimé</li>
                <li>Couche d'usure</li>
                <li>Vinyle 1.3 mm</li>
                <li>Adhésif Vinyl Way</li>
                <li>Film Polypropylène</li>
            </ul>
            <div class="couches">
                <svg class="svg-couches couchesthumbslide" version="1.1" id="Calque_1"
                    xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                    viewBox="0 0 483 420" xml:space="preserve">
                    <g>
                        <polygon class="st0" points="258,373 22,327 242,221 480,267 " />
                    </g>
                    <g>
                        <polygon class="st1" points="258,313 22,267 22,264 258,310 " />
                    </g>
                    <g>
                        <polygon class="st2" points="258,313 258,310 480,204 480,207 " />
                    </g>
                    <g>
                        <polygon class="st3" points="258,310 22,264 242,158 480,204 " />
                    </g>
                    <g>
                        <polygon class="st6" points="258,250 22,203 22,193 258,239 	" />
                    </g>
                    <g>
                        <polygon class="st5" points="258,250 258,239 480,133 480,143 " />
                    </g>
                    <g>
                        <polygon class="st4" points="258,239 22,193 242,87 480,133 	" />
                    </g>
                    <g class="st7">
                        <polygon class="st8" points="258,164 22,118 242,12 480,58 	" />
                    </g>
                </svg>

                <div class="img-svg">
                    <img src="1.jpg">
                </div>
            </div>
        </div>
        <div>
            <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/logo.png?v=1635941585">
            <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/logo.png?v=1635941585">
            <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/logo.png?v=1635941585">
            <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/logo.png?v=1635941585">
            <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/logo.png?v=1635941585">
            <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/logo.png?v=1635941585">
        </div>
    </section>

    <section class="Install" id="installation">
        <div>
            <div>
                <div>
                <video id="videoInstall" poster="install.jpg" muted="" loop="" playsinline="" id="videointro"
                    alt="Vinyl Way - adhesive tiles">
                    <source src="https://cdn.shopify.com/videos/c/o/v/e08cb0efd32040f791a7a193a2b98380.mp4"
                        type="video/mp4">
                    Un problème est survenu lors de la lecture de la vidéo.
                </video>
                </div>
                <div class="bgDiag"></div>
            </div>
            <div>
                <h2>
                    Comment poser <small>ses carreaux ?</small>
                </h2>
                <div class="listInstall">
                    <div>
                        <span>01</span>
                        <span>Nettoyer</span>
                    </div>
                    <p>On joue ici avec les matériaux pour des effets variés.</p>
                <div>
                    <span>02</span>
                    <span>Coller</span>
                </div>
                <p>On joue ici avec les matériaux pour des effets variés.</p>
                <div>
                <span>03</span>
                <span>Admirer</span>
            </div>
            <p>On joue ici avec les matériaux pour des effets variés.</p>
        </div>
        <span class="btnInstall"><svg id="btnInstall" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                </path>
            </svg></span>
        </div>
        </div>
    </section>
    <section class="SlideRealisations" id="realisations">
        <h2>
            <b>Réalisations</b>
            <span>de nos clients</span>
        </h2>
        <div id="splideRealisations" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <img src="install.jpg">
                    </li>
                    <li class="splide__slide">
                        <img src="install.jpg">
                    </li>
                </ul>
            </div>
        </div>
    </section>