 {{ 'main-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'main-cart-items.js' | asset_url | script_tag }}


<cart-items class="{% if cart == empty %}is-empty{% endif %}">
 <section class="cartTemplate">

        <div class="cartTemplateHeader">
            <h1>Votre panier</h1>
            <a href="/collections/carreaux-adhesifs/">Continuer mes achats</a>
        </div>
      <form action="{{ routes.cart_url }}" method="post">
        <div class="cartGrid">

          {% for item in cart.items %}
            
        <div  id="CartItem-{{ item.index | plus: 1 }}">
            
        <div class="listTiles">
                <a href="{{ item.url }}">
            <ul>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[2] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[3] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[4] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[5] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[6] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[7] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[8] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[9] | image_url: width: 100 }}">
                    </li>
                </ul>
                </a>
                <p>Cette référence est composée de 4 motifs.</p>
            </div>
            <div class="productContent">
                <div>
            <a href="{{ item.url }}"><h2>{{ item.product.title }}<small>(x1)</small></h2></a>
            <h3><strong>Carreaux</strong> adhésifs <small>20 x 20 cm</small></h3>
            </div>
            <div>
            <div class="productPrice">
                 <div>
                        <span class="price" id="price">{{ item.original_line_price | money }}</span>
                    </div>
              <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>
              
                    <div class="quantityProduct">
                      
                      <quantity-input class="quantity">                        
                        <button id="downQuantity" class="quantity__button no-js-hidden" name="minus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.decrease' | t: product: item.product.title | escape }}</span>
                          {% render 'icon-minus' %}
                        </button>
                        <input class="quantity__input"
                          type="number"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          min="1" max="999" maxlength="3"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                        >
                        <button id="upQuantity" class="quantity__button no-js-hidden" name="plus" type="button">
                          <span class="visually-hidden">{{ 'products.product.quantity.increase' | t: product: item.product.title | escape }}</span>
                          {% render 'icon-plus' %}
                        </button>                        
                      </quantity-input>
              
                      <cart-remove-button class="btnRemove" id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                        <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                          {% render 'icon-remove' %}
                        </a>
                      </cart-remove-button>
                      
                    </div>  
              
                </div>
            </div>
            </div>        
        </div>
                
            {% endfor %}
            
        </section>

            <input type="submit" name="checkout" value="Checkout">

  </form>
</cart-items>