{{ 'collection-page.css' | asset_url | stylesheet_tag }}
{{ 'collection-page.js' | asset_url | script_tag }}
  {% if collection.handle contains "style" %}
    {% assign pageStyle = "" %}    
  {% elsif collection.handle contains "couleur" %}
    {% assign pageCouleur = "" %}    
  {% elsif collection.handle contains "best" %}
    {% assign pageBest = "" %}    
    {% else %}    
    {% assign pageCollections = "" %}
    {% endif %}


    
<div class="
  {% if pageCollections %}collectionCollections
  {% elsif pageStyle %}collectionFilters
  {% elsif pageCouleur %}collectionFilters
  {% elsif pageBest %}collectionBest
    {% endif %}
  ">
        <div class="popupPreview">
            <div class="popupPreviewBg popupPreviewHide">

            </div>
            <div class="popupPreviewContent" role="img" alt="Mise en situation du carreau adhésif dans une maison. Adapté à toutes vos pièces">
                <span class="popupPreviewHide">x</span>
                <div>
                    <div class="listRooms">
                        <div>
                            <small>Destination :</small> <span>cuisine</span>
                            <svg xmlns="https://www.w3.org/2000/svg" viewBox="0 0 40 40" width="18" height="18">
                                <path
                                    d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                                </path>
                            </svg>
                        </div>
                        <ul>
                            <li id="CUISINE">Cuisine</li>
                            <li id="DOUCHE">Douche</li>
                            <li id="SDB">S. de bain</li>
                            <li id="MEUBLE">Meuble</li>
                            <li id="MUR">Mur</li>
                            <li id="SOL">Sol</li>
                        </ul>
                    </div>
                    <a data-href="#"><small>page</small> <span>produit</span></a>
                </div>
            </div>
        </div>

        <section class="headerCollection">

            <div class="title">
                <h1>
                    Carreaux adhésifs
                    <small>20 x 20 cm</small>
                    <small>2,99€ unité</small>
                    <span><small>20 x 20 cm</small></span>
                </h1>
            </div>
            <div class="blocFilters">
                <ul>
                    <li class="listFilter listFilterCollections">
                        <a data-href="/collections/carreaux-adhesifs-collections/">
                           collections
                        </a>
                    </li>
                    <li class="listFilter listFilterColor">
                        <a data-href="/collections/carreaux-adhesifs-couleurs/">
                            couleur
                        </a>
                    </li>

                    <li class="listFilter listFilterStyle">
                        <a data-href="/collections/carreaux-adhesifs-style/">
                            style
                        </a>
                    </li>
                    <li class="listFilter listFilterBest">
                        <a data-href="/collections/carreaux-adhesifs-bestsellers/">
                            Bestsellers
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <section class="Products">


           <div class="black">
                <ul class="productsList">    
                  
                  {% for item in search.results %}               
                    <li>
                        <span>{{ product.title }}</span>
                        <a>
                          <img alt="Carreau adhésif {{ product.title }}" loading="lazy" src="{{ product.images[1] | img_url: '200x' }}">
                        </a>
                        <div>
                            <a data-href="{{ product.url }}">Produit</a>
                            <span id="{% assign current_variant = product.selected_or_first_available_variant %}{{ current_variant.sku }}">
                              <svg version="1.1" xmlns="https://www.w3.org/2000/svg"
                                    xmlns:xlink="https://www.w3.org/1999/xlink" x="0px" y="0px"
                                    viewBox="0 0 56.966 56.966" style="enable-background:new 0 0 56.966 56.966;"
                                    xml:space="preserve">
                                    <path
                                        d="M55.146,51.887L41.588,37.786c3.486-4.144,5.396-9.358,5.396-14.786c0-12.682-10.318-23-23-23s-23,10.318-23,23  s10.318,23,23,23c4.761,0,9.298-1.436,13.177-4.162l13.661,14.208c0.571,0.593,1.339,0.92,2.162,0.92  c0.779,0,1.518-0.297,2.079-0.837C56.255,54.982,56.293,53.08,55.146,51.887z M23.984,6c9.374,0,17,7.626,17,17s-7.626,17-17,17  s-17-7.626-17-17S14.61,6,23.984,6z" />
                                </svg></span>
                        </div>
                    </li>         
                                      
                  {% endfor %}            
                </ul>
                                    </div>
        
            </div>
        </section>
                                    </div>

                                      
     <script>

       //changeListFilters
       
  {% if pageBest %}
    $('.listFilterBest').addClass('active');
  {% elsif pageStyle %}
    $('.listFilterStyle').addClass('active');    
  {% elsif pageCouleur %}
    $('.listFilterColor').addClass('active');   
  {% else %}
    $('.listFilterCollections').addClass('active');    
    {% endif %}
    $( ".listFilter.active a" ).prepend("<small>Filtre par</small>");
    $( ".listFilter.active a" ).append("<svg xmlns='https://www.w3.org/2000/svg' viewBox='0 0 40 40' width='18' height='18'><path d='m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z'></path></svg>");


       // variables
          
   let selectedPiece = "CUISINE";          
   let selectedHref = "/products/carreaux-adhesif-dublin-1";
   let urlPiece = location.href.substring(location.href.indexOf('?') + 1);
       
   let resolutionMES = "1200x";
      if ($(window).width() < 600) {
      resolutionMES = "500x";
      }       
  let actualBackgroundRoom = $('.template-collection .popupPreview .popupPreviewContent').css('background-image');
       
       //changeImageMES 
       
          $(".template-collection .productsList li > div > span").click(function() {             
   let refProduct = this.id.replace("VIR","");
   let smallRefProduct = refProduct.slice(0, 5);
   $(".template-collection .popupPreview .popupPreviewContent").css("background-image", "url(https://ftp.vinyl-wall.com/vinylway-europe/mes/" + resolutionMES + "/" + smallRefProduct + "-MES-" + selectedPiece + ".jpg)");  
   actualBackgroundRoom = $('.template-collection .popupPreview .popupPreviewContent').css('background-image');
   selectedHref = $(this).parent().children('a').attr('href');
   $(".template-collection .popupPreview .popupPreviewContent > div > :nth-child(2)").attr("href", selectedHref)
          });

       //changeRoomMES
       
        $(".template-collection .popupPreview .popupPreviewContent > div > .listRooms ul li").click(function() {
        selectedPiece = this.id;   
        let newBackgroundRoom = actualBackgroundRoom.replace(/CUISINE|MUR|SALLEDEBAIN|DOUCHE|SOL|MEUBLE/g, selectedPiece);
        $('.template-collection .popupPreview .popupPreviewContent').css('background-image' , newBackgroundRoom);          
        $('.template-collection .popupPreview .popupPreviewContent > div > .listRooms > div span').text($(this).text());          
        });
        
        $(".template-collection .Products .filters ul li").click(function() {    
          if ( $(this).hasClass('active') ) {
        $(this).removeClass('active');
          location.href = "{{ collection.url }}/?" + selectedPiece.toLowerCase();
          } else {
          location.href = "{{ collection.url }}/" + this.id + "?" + selectedPiece.toLowerCase();
          } 
          });
       
        $(".template-collection .Products .filters ul li").each(function() {    
        if (window.location.href.indexOf(this.id) > -1) {
        $(this).addClass('active');
        }
        });

       // listFiltersHref

         $(".template-collection .headerCollection .blocFilters ul li").not(".active").click(function() {
          let dataHref = $(this).children('a').data('href');
          location.href = dataHref + "?" + selectedPiece.toLowerCase();
        });

       // loadUrlPiece
       if (window.location.href.indexOf("?") > -1) {
       function loadUrlPiece() {
       $('#' + urlPiece.toUpperCase()).trigger('click');
       }
       loadUrlPiece();
    }       
       
       // loadFirstProduct
       function loadFirstProduct() {         
          $(".template-collection .productsList :nth-child(1) > div > span").trigger('click');            
       }       
       loadFirstProduct(); 
       

       // productHref
         $(".template-collection .Products .productsList li > div > a").click(function() {
          let dataHref = $(this).data('href');
          location.href = dataHref + "?" + selectedPiece.toLowerCase();
        });

        
       
    </script>
    