{{ 'main-search.css' | asset_url | stylesheet_tag }}


 {% paginate search.results by 24 %}
            <ul>
                {% for item in search.results %}
                 {%- case item.object_type -%}
                      {%- when 'product' -%}
                   <li class="itemProduct">
                        <span>{{ product.title }}</span>
                        <a>
                          <img alt="Carreau adhésif {{ product.title }}" loading="lazy" src="{{ product.images[1] | img_url: '200x' }}">
                        </a>
                        <div>
                            <a data-href="{{ product.url }}">Produit</a>
                        </div>
                    </li>         
                      {%- when 'article' -%}
                   <li>
                     
                   </li>
                      {%- when 'page' -%}
                   <li>
                     
                   </li>
                    {%- endcase -%}
              {% endfor %}
            </ul>
              {%- if paginate.pages > 1 -%}
                {% render 'pagination', paginate: paginate %}
              {%- endif -%}
          {% endpaginate %}