 {{ 'main-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'main-cart-items.js' | asset_url | script_tag }}


<cart-items class="{% if cart == empty %}is-empty{% endif %}">
 <section class="cartTemplate">

        <div class="cartTemplateHeader">
            <h1>Votre panier</h1>
            <a href="/collections/carreaux-adhesifs/">Continuer mes achats</a>
        </div>
        <form action="{{ routes.cart_url }}" method="post">
          
        <div class="cartGrid">

          {% for item in cart.items %}
            
        <div  id="CartItem-{{ item.index | plus: 1 }}">
            
        <div class="listTiles">
                <a href="{{ item.url }}">
            <ul>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[2] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[3] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[4] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[5] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[6] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[7] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[8] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img loading="lazy" src="{{ item.product.images[9] | image_url: width: 100 }}">
                    </li>
                </ul>
                </a>
                <p>Cette référence est composée de 4 motifs.</p>
            </div>
            <div class="productContent">
                <div>
            <a href="{{ item.url }}"><h2>{{ item.product.title }}<small>(x1)</small></h2></a>
            <h3><strong>Carreaux</strong> adhésifs <small>20 x 20 cm</small></h3>
            </div>
            <div>
            <div class="productPrice">
                 <div>
                        <span class="price" id="price">{{ item.original_line_price | money }}</span>
                    </div>
              <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>
              
                    <div class="quantityProduct">
                      
                      <quantity-input class="quantity">                        
                        <span id="downQuantity">-</span>
                        <input class="quantity__input"
                          type="number"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          min="1" max="999" maxlength="3"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                          onblur="this.form.submit()"
                        >
                       <span id="upQuantity">+</span>                       
                      </quantity-input>
              
                      <cart-remove-button class="btnRemove" id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                        <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                          {% render 'icon-remove' %}
                        </a>
                      </cart-remove-button>
                      
                    </div>  
              
                </div>
            </div>
            </div>        
        </div>
                
            {% endfor %}

        <div class="divTotal">
        <div>
            <div>
            <button type="submit" name="checkout" class="btnCheckout">Procéder au paiement
        <small>Paiement en 4 fois sans frais</small>
            </button>

        <div class="additional-checkout-buttons btnPaypal">{{ content_for_additional_checkout_buttons }}</div>
              
             </div>
        <span class="infoDelivery">Livraison offerte à partir de 49€</span>
        <span class="btnInfos">réductions & livraison</span>
        <input type="submit" name="update" value="Update cart" />
        </div>
            <div class="productPrice">
                <p>Sous-total :</p>
                <div>
                    <div class="discount">
                        <div><span id="regularPrice">60</span>€</div>
                        <span id="discountPercent">10%</span>
                    </div>
                    <span class="price" id="price">{{ cart.total_price | money_with_currency }}</span>
                </div>
            </div>

        </div>
            
  </form>
        </section>

</cart-items>

          <script>
            document.addEventListener('DOMContentLoaded', function () {

             $(".template-cart #upQuantity").click(function () {
               	
            let parentThis =  $( this ).parent();
               
              
            });
              
    $(".template-cart #downQuantity").click(function () {
        let inputQuantity = $(this).parent().children('.quantity__input');
        let valQuantity = $(this).parent().children('.quantity__input')val();
        if (valQuantity > 1) {
            $(this).parent().children('.quantity__input').val(--valQuantity);
            displayPrice();
        }
    });

    // displayPrice
    function displayPrice() {
        let discountPercent = 1;
        let valQuantity = $('#quantityCheckout').val();

        if (valQuantity >= 30) {
            $('.discount').addClass('enable');
        }
        else {
            $('.discount').removeClass('enable');
        }

        if (valQuantity >= 30) {
            discountPercent = 0.95;
            $('#discountPercent').text('-5%');
        }
        if (valQuantity >= 60) {
            discountPercent = 0.90;
            $('#discountPercent').text('-10%');
        }
        if (valQuantity >= 90) {
            discountPercent = 0.85;
            $('#discountPercent').text('-15%');
        }

        let discountPrice = (valQuantity * 2.99 * discountPercent).toFixed(2);
        let regularPrice = (valQuantity * 2.99).toFixed(2);
        $('#regularPrice').text(regularPrice);
        $('#price').text(discountPrice);

    };

              
});

</script>
