{{ 'main-cart-items.css' | asset_url | stylesheet_tag }}
{{ 'main-cart-items.js' | asset_url | script_tag }}



<cart-items class="{% if cart == empty %}is-empty{% endif %}">
 <section class="cartTemplate">

        <div class="cartTemplateHeader">
            <h1>Votre panier</h1>
            <a href="/collections/carreaux-adhesifs/">Continuer mes achats</a>
        </div>
        <form action="{{ routes.cart_url }}" method="post">
          
        <div class="cartGrid">

          {% for item in cart.items %}
            
              {% unless customer and customer.tags contains 'pro' %}
              {% assign priceTile = 2.99 | times: item.quantity %}
              {% else %}
              {% assign priceTile = item.original_line_price | money_without_currency %}
              {% assign customerPro = true %}
              {% endunless %}

               {% for tag in item.product.tags %}
                      {% if tag contains 'motifs_1' %}
                      {% assign nbMotifs = 1 %}
                      {% elsif tag contains 'motifs_2' %}
                      {% assign nbMotifs = 2 %}
                      {% elsif tag contains 'motifs_4' %}
                      {% assign nbMotifs = 4 %}
                      {% elsif tag contains 'motifs_8' %}
                      {% assign nbMotifs = 8 %}
                        {% else %}
                      {% assign nbMotifs = 'X' %}
                      {% endif %}
                    {% endfor %}
            
        <div  id="CartItem-{{ item.index | plus: 1 }}">
            
        <div class="listTiles">
                <a href="{{ item.url }}">
            
            <ul>
                    <li>
                        <img alt="Carreau adhésif Vinyl Way : {{ item.product.title }} - Carreau numéro 1" loading="lazy" src="{{ item.product.images[2] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img alt="Carreau adhésif Vinyl Way : {{ item.product.title }} - Carreau numéro 2" loading="lazy" src="{{ item.product.images[3] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img alt="Carreau adhésif Vinyl Way : {{ item.product.title }} - Carreau numéro 3" loading="lazy" src="{{ item.product.images[4] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img alt="Carreau adhésif Vinyl Way : {{ item.product.title }} - Carreau numéro 4" loading="lazy" src="{{ item.product.images[5] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img alt="Carreau adhésif Vinyl Way : {{ item.product.title }} - Carreau numéro 5" loading="lazy" src="{{ item.product.images[6] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img alt="Carreau adhésif Vinyl Way : {{ item.product.title }} - Carreau numéro 6" loading="lazy" src="{{ item.product.images[7] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img alt="Carreau adhésif Vinyl Way : {{ item.product.title }} - Carreau numéro 7" loading="lazy" src="{{ item.product.images[8] | image_url: width: 100 }}">
                    </li>
                    <li>
                        <img alt="Carreau adhésif Vinyl Way : {{ item.product.title }} - Carreau numéro 8" loading="lazy" src="{{ item.product.images[9] | image_url: width: 100 }}">
                    </li>
                </ul>
                </a>
          
                  <p>
                Ce visuel contient <strong>{{ nbMotifs }} motif{% unless nbMotifs == 1 %}s différents{% endunless %}</strong>.<br>
                Vos carreaux seront livrés dans l'ordre ci-dessus.
              </p>
          
            </div>
            <div class="productContent">
                <div>
            <a href="{{ item.url }}"><h2>{{ item.product.title }}<small>(x1)</small></h2></a>
            <h3><strong>Carreaux</strong> adhésifs <small>20 x 20 cm</small></h3>
            </div>
            <div>
            <div class="productPrice">
                 <div>
                           <span class="price" id="price">{{ priceTile }}€</span>
                    </div>
              <label class="visually-hidden" for="Quantity-{{ item.index | plus: 1 }}">
                        {{ 'products.product.quantity.label' | t }}
                      </label>
              
                    <div class="quantityProduct">
                      
                      <quantity-input class="quantity">                        
                        <span id="downQuantity">-</span>
                        <input class="quantity__input"
                          type="number"
                          name="updates[]"
                          value="{{ item.quantity }}"
                          min="1" max="999" maxlength="3"
                          aria-label="{{ 'products.product.quantity.input_label' | t: product: item.product.title | escape }}"
                          id="Quantity-{{ item.index | plus: 1 }}"
                          data-index="{{ item.index | plus: 1 }}"
                          onblur="this.form.submit()"
                        >
                       <span id="upQuantity">+</span>                       
                      </quantity-input>
              
                      <cart-remove-button class="btnRemove" id="Remove-{{ item.index | plus: 1 }}" data-index="{{ item.index | plus: 1 }}">
                        <a href="{{ item.url_to_remove }}" class="button button--tertiary" aria-label="{{ 'sections.cart.remove_title' | t: title: item.title }}">
                          {% render 'icon-remove' %}
                        </a>
                      </cart-remove-button>
                      
                    </div>  
              
                </div>
            </div>
            </div>        
        </div>
                
            {% endfor %}

        <div class="divTotal">
        <div>
            <div>
            <button type="submit" name="checkout" class="btnCheckout">Procéder au paiement
        <small>Paiement en 4 fois sans frais</small>
            </button>

        <div class="additional-checkout-buttons btnPaypal">{{ content_for_additional_checkout_buttons }}</div>
              
             </div>
        <span class="infoDelivery">
           {% if cart.item_count > 1 %}Livraison offerte à partir de 49€
           {% else %}Livraison offerte pour 1 échantillon
             {% endif %}
            </span>
        <span class="btnInfos">réductions & livraison</span>
        <input id="btnUpdate" type="submit" name="update" value="Update cart" />
        </div>
            <div class="productPrice">
                <p>Sous-total :</p>
                <div>
                    <div class="discount">
                        <div><span id="regularPrice">{{ cart.total_price | money_without_currency }}</span>€</div>
                        <span id="discountPercent">0%</span>
                    </div>
                    <span class="price"><span id="totalPrice">{{ cart.total_price | money_without_currency }}</span>€                    
                    <small>{% if customerPro %}HT{% else %}TTC{% endif %}</small>
                    </span>
                </div>
            </div>

        </div>
        {% if cart == empty %}
          <div class="divEmpty">
            <p>Votre panier est vide.</p>
          </div>
          {% endif %}
            
  </form>
        </section>

</cart-items>

<div class="popupDelivery">
            <div class="popupDeliveryBg popupDeliveryHide">

            </div>
            <div class="popupDeliveryContent">
                <span class="popupDeliveryHide">x</span>
              <div>
                <div>
                   <span>Réductions</span>
                  <p>Plus de <strong>30</strong> carreaux : <span class="reduc">-10%</span></p>
                  <p>Plus de <strong>60</strong> carreaux : <span class="reduc">-15%</span></p>
                  <p>Plus de <strong>90</strong> carreaux : <span class="reduc">-20%</span></p>
                </div>
                <div>
                   <span>Livraison</span>
                  <p>Livré sous <strong>5 jours </strong> en France,
                  <br />                  
                  <strong>7 jours </strong> dans l'Union Européenne.
                  </p>
                  <p><span class="deli">Livraison offerte</span> pour <strong>1 échantillon</strong> OU <strong>à partir de 49€</strong>.
                  <br />
                  (5€ si inférieur)
                  </p>
                </div>
              </div>
            </div>
        </div>

        <script>

          
    // displayPrice
    function displayPrice() {
        let discountPercent = 1;
        let decTotalPrice = $('#regularPrice').text().replace(',' , '.');
        let totalPrice = parseFloat(decTotalPrice);
        let totalQuantity = {{ cart.item_count }};

      {% unless customer and customer.tags contains 'pro' %}
        if (totalQuantity >= 30) {
            $('.productPrice').addClass('discountEnable');
        }
        else {
            $('.productPrice').removeClass('discountEnable');
        }

        if (totalQuantity >= 30) {
            discountPercent = 0.90;
            $('#discountPercent').text('-10%');
        }
        if (totalQuantity >= 60) {
            discountPercent = 0.85;
            $('#discountPercent').text('-15%');
        }
        if (totalQuantity >= 90) {
            discountPercent = 0.80;
            $('#discountPercent').text('-20%');
        }    
      {% else %}        
            $('.productPrice').addClass('discountEnable');
            discountPercent = 0.70;
            $('#discountPercent').text('-30%');
      {% endunless %}
      
        let discountPrice = (totalPrice * discountPercent).toFixed(2);
        $('#totalPrice').text(discountPrice);
    };
  
  displayPrice();
          
        </script>