{{ 'section-main-blog.css' | asset_url | stylesheet_tag }}
{{ 'section-main-blog.js' | asset_url | script_tag }}

<section class="intro">

  <div>
  <div class="divH1">
    <h2>
      <span>Blog</span>
      <span>Vinyl Way</span>
    </h2>
  </div>

  <div class="divH2">
  <h1>
    {{ article.title }}
  </h1>
  </div>
  </div>

  
</section>

<section class="listArticles">

  
  <div class="blocFilters">
                <ul>
                    <li class="listFilter active">
                        <a data-href="/collections/carreaux-adhesifs-collections/">
                           collections
                        </a>
                    </li>
                    <li class="listFilter">
                        <a data-href="/collections/carreaux-adhesifs-couleurs/">
                            couleur
                        </a>
                    </li>

                    <li class="listFilter">
                        <a data-href="/collections/carreaux-adhesifs-style/">
                            style
                        </a>
                    </li>
                    <li class="listFilter">
                        <a data-href="/collections/carreaux-adhesifs-bestsellers/">
                            Bestsellers
                        </a>
                    </li>
                </ul>
            </div>

  <div class="divArticle">
    <h1>{{ article.title }}</h1>
    <p>{{ article.metafields }}</p>
    <p>{{ article.content }}</p>
  </div>
  
</section>