{{ 'main-product-page.css' | asset_url | stylesheet_tag }}
{{ 'main-product-page.js' | asset_url | script_tag }}

        <section class="productImage slide1">
            <div class="arrows">
                <div>
                    <span id="productImagePrev">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                            <path
                                d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                            </path>
                        </svg>
                    </span>
                    <span id="productImageNext">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                            <path
                                d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="pagination">
                <ul>
                    <li id="slide1" class="active">

                    </li>
                    <li id="slide2">

                    </li>
                    <li id="slide3">

                    </li>
                    <li id="slide4">

                    </li>
                    <li id="slide5">

                    </li>
                    <li id="slide6">

                    </li>
                </ul>
            </div>
        </section>

        <div class="contentProductContainer">
        <section class="contentProduct">
            <h1>Londres n°2<small>(x1)</small></h1>
            <h2><strong>Carreaux</strong> adhésifs <small>20 x 20 cm</small></h2>
            <h3>Adaptés à toutes vos pièces</h3>
            <div class="franceTrust">
                <div>
                    <img src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/madeinfrance_2.svg?v=1666779214">
                </div>

                   <!-- TrustBox widget - Micro Star -->

<div class="trustpilot-widget" data-locale="fr-FR" data-template-id="5419b732fbfb950b10de65e5" data-businessunit-id="60e42806f733a10001be85f3" data-style-height="24px" data-style-width="100%" data-theme="light">

  <a href=https://fr.trustpilot.com/review/vinyl-wall.com target="_blank" rel="noopener">Trustpilot</a>

     </div>

            </div>

            <ul class="listQuality">
                <li>Résiste à l'eau et à la chaleur</li>
                <li>Adhère sur toutes surfaces lisses</li>
                <li>Se colle facilement et rapidement</li>
                <li>Matière ultra-résistante de 1.3mm</li>
            </ul>
            <div class="listTiles">
                <p>Cette référence est composée de 4 motifs, livrés dans cet ordre:</p>
                <ul>
                    <li>
                        <img src="{{ product.images[2] | img_url: '100x' }}">
                        <span>1</span>
                    </li>
                    <li>
                        <img src="{{ product.images[3] | img_url: '100x' }}">
                        <span>2</span>
                    </li>
                    <li>
                        <img src="{{ product.images[4] | img_url: '100x' }}">
                        <span>3</span>
                    </li>
                    <li>
                        <img src="{{ product.images[5] | img_url: '100x' }}">
                        <span>4</span>
                    </li>
                    <li>
                        <img src="{{ product.images[6] | img_url: '100x' }}">
                        <span>5</span>
                    </li>
                    <li>
                        <img src="{{ product.images[7] | img_url: '100x' }}">
                        <span>6</span>
                    </li>
                    <li>
                        <img src="{{ product.images[8] | img_url: '100x' }}">
                        <span>7</span>
                    </li>
                    <li>
                        <img src="{{ product.images[9] | img_url: '100x' }}">
                        <span>8</span>
                    </li>
                </ul>
            </div>
          
          {% form 'product', product %}
            <div class="productPrice">
                <div>
                    <div class="discount">
                        <div><span id="regularPrice">2.99</span>€</div>
                        <span id="discountPercent">0%</span>
                    </div>
                    <span class="price"><span id="price">2.99</span>€</span>
                </div>
                <div>
                    <span id="downQuantity">-</span>
                    <input name="quantity" id="quantityCheckout" type="number" value="1" min="1" max="999" maxlength="3" />
                    <span id="upQuantity">+</span>
                </div>                
            <a href="#calcul" class="btnToQuantity desktop">Calculer ma quantité</a>
            </div>
            <span class="btnInfos">réductions & livraison</span>
            <div class="btnsOrders">
              
          <input name="id" value="{{ product.variants.first.id }}" type="hidden" />
          <input id="btnCheckout" class="btnCheckout" name="add" value="Ajouter au panier" type="submit" /> 
                <a class="btnSample">commander un échantillon</a>
            </div>

          {% endform %}
    

          
          
            <div><a href="#calcul" class="btnToQuantity mobile">Calculer ma quantité</a></div>
        </section>

        <div class="iconesAdvantages">
            <div>
                <img src="delivery.svg">
                <span>En stock</span>
                <small>Livré sous 4 jours</small>
            </div>
            <div>
                <img src="guarantee.svg">
                <span>Satisfait(e)</span>
                <small>ou remboursé(e)</small>
            </div>
            <div class="desktop">
            <img src="delivery.svg">
                <span>En stock</span>
                <small>Livré sous 4 jours</small>
            </div>
        </div>

        <section id="calcul" class="calculQuantity">
            <img src="calculBg.jpg">
            <h3>Calculateur</h3>
            <div class="inputsCalculQuantity">
                <div>
                    <span>Largeur</span>
                    <input id="inputA" type="number" value="" />
                    <span>cm</span>
                </div>
                <span>x</span>
                <div>
                    <span>Longueur</span>
                    <input id="inputB" type="number" value="" />
                    <span>cm</span>
                </div>
            </div>

            <div class="btnsCalculQuantity">
                <div>
                    <span>Vous avez besoin de</span>
                    <input id="inputC" disabled="" type="number" value="1" />
                    <span>carreaux</span>
                </div>
                <div id="btnCheckoutCalcul" class="btnCheckout">Ajouter au panier</div>
            </div>
        </section>

     {% render 'faq' %}
     

<style>
  .faq .accordeon>div>div {
    display:flex !important;
  }
</style>

        <section class="Install">
            <div>
                <video id="videoInstall" poster="install.jpg" muted="" loop="" playsinline="" id="videointro"
                    alt="Vinyl Way - adhesive tiles">
                    <source src="https://cdn.shopify.com/videos/c/o/v/e08cb0efd32040f791a7a193a2b98380.mp4"
                        type="video/mp4">
                    Un problème est survenu lors de la lecture de la vidéo.
                </video>
                <h2>
                    Comment poser<br />son Vinyl Way ?
                </h2>
                <span><svg id="btnInstall" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40"
                        height="40">
                        <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                        </path>
                    </svg></span>
            </div>
        </section>
</div>


<div class="popupDelivery">
            <div class="popupDeliveryBg popupDeliveryHide">

            </div>
            <div class="popupDeliveryContent">
                <span class="popupDeliveryHide">x</span>
              <div>
                <div>
                   <span>Réductions</span>
                  <p>Plus de <strong>30</strong> carreaux : <span class="reduc">-10%</span></p>
                  <p>Plus de <strong>60</strong> carreaux : <span class="reduc">-15%</span></p>
                  <p>Plus de <strong>90</strong> carreaux : <span class="reduc">-20%</span></p>
                </div>
                <div>
                   <span>Livraison</span>
                  <p>Livré sous <strong>5 jours </strong> en <strong>France</strong>,
                  <br />                  
                  <strong>7 jours </strong> dans l'<strong>Union Européenne</strong>.
                  </p>
                  <p><span class="deli">Livraison offerte</span> pour <strong>1 échantillon</strong> et <strong>à partir de 49€</strong>.
                  <br />
                  (5€ si inférieur)
                  </p>
                </div>
              </div>
            </div>
        </div>



  {% style %}  
.template-product .productImage.slide1 {
    background-image: url("{{ product.images[0] | img_url: '1100x' }}");
}

.template-product .productImage.slide2 {
    background-image: url("{{ product.images[22] | img_url: '1100x' }}");
}

.template-product .productImage.slide3 {
    background-image: url("{{ product.images[23] | img_url: '1100x' }}");
}

.template-product .productImage.slide4 {
    background-image: url("{{ product.images[24] | img_url: '1100x' }}");
}

.template-product .productImage.slide5 {
    background-image: url("{{ product.images[25] | img_url: '1100x' }}");
}

.template-product .productImage.slide6 {
    background-image: url("{{ product.images[26] | img_url: '1100x' }}");
}
  {% endstyle %}
