{{ 'main-product-page.css' | asset_url | stylesheet_tag }}
{{ 'main-product-page.js' | asset_url | script_tag }}

        <section class="productImage">

          <div class="ProductImageContent">
            
            <div class="slide slide1 active">
              <img alt="Carreaux adhésifs Vinyl Way : {{ product.title }} - collés sur une crédence de cuisine. Résiste à la chaleur" loading="lazy" src="{{ product.images[0] | img_url: '1100x' }}">
            </div>            
            <div class="slide slide2 slideTiles">

              <div class="tiles">
              <img alt="Carreau adhésif Vinyl Way : {{ product.title }} - Carreau numéro 1" class="tile1" src="{{ product.images[2] | img_url:'150x' }}">     
              <img alt="Carreau adhésif Vinyl Way : {{ product.title }} - Carreau numéro 2" class="tile2" src="{{ product.images[3] | img_url:'150x' }}">     
              <img alt="Carreau adhésif Vinyl Way : {{ product.title }} - Carreau numéro 3" class="tile3" src="{{ product.images[4] | img_url:'150x' }}">     
              <img alt="Carreau adhésif Vinyl Way : {{ product.title }} - Carreau numéro 4" class="tile4" src="{{ product.images[5] | img_url:'150x' }}">     
              <img alt="Carreau adhésif Vinyl Way : {{ product.title }} - Carreau numéro 5" class="tile5" src="{{ product.images[6] | img_url:'150x' }}">     
              <img alt="Carreau adhésif Vinyl Way : {{ product.title }} - Carreau numéro 6" class="tile6" src="{{ product.images[7] | img_url:'150x' }}">     
              <img alt="Carreau adhésif Vinyl Way : {{ product.title }} - Carreau numéro 7" class="tile7" src="{{ product.images[8] | img_url:'150x' }}">     
              <img alt="Carreau adhésif Vinyl Way : {{ product.title }} - Carreau numéro 8" class="tile8" src="{{ product.images[9] | img_url:'150x' }}">    
              </div>

              {% for tag in product.tags %}
                      {% if tag contains 'motifs_1' %}
                      {% assign nbMotifs = 1 %}
                      {% elsif tag contains 'motifs_2' %}
                      {% assign nbMotifs = 2 %}
                      {% elsif tag contains 'motifs_4' %}
                      {% assign nbMotifs = 4 %}
                      {% elsif tag contains 'motifs_8' %}
                      {% assign nbMotifs = 8 %}
                      {% endif %}
                    {% endfor %}
              
              <p>
                Ce visuel contient <strong>{{ nbMotifs }} motif{% unless nbMotifs == 1 %}s différents{% endunless %}</strong>.<br>
                Vos carreaux seront livrés dans l'ordre ci-dessous:
              </p>
              
            </div>
            <div class="slide slide3">
              <img alt="Carreaux adhésifs Vinyl Way : {{ product.title }} - collés sur un mur. Adhère sur toutes surfaces lisses" loading="lazy" src="{{ product.images[22] | img_url: '1100x' }}">
            </div>
            <div class="slide slide4">
              <img alt="Carreaux adhésifs Vinyl Way : {{ product.title }} - collés sur une crédence de salle de bain. Couvre les joints de carrelage" loading="lazy" src="{{ product.images[23] | img_url: '1100x' }}">
            </div>
            <div class="slide slide5">
              <img alt="Carreaux adhésifs Vinyl Way : {{ product.title }} - collés dans une douche. Résiste à l'eau" loading="lazy" src="{{ product.images[24] | img_url: '1100x' }}">
            </div>
            <div class="slide slide6">
              <img alt="Carreaux adhésifs Vinyl Way : {{ product.title }} - collés sur le sol. Matière ultra-résistante" loading="lazy" src="{{ product.images[25] | img_url: '1100x' }}">
            </div>
            <div class="slide slide7">
              <img alt="Carreaux adhésifs Vinyl Way : {{ product.title }} - collés sur un meuble. Adhère sur toutes surfaces lisses" loading="lazy" src="{{ product.images[26] | img_url: '1100x' }}">
            </div>
            
          </div>
          
            <div class="arrows">
                <div>
                    <span id="productImagePrev">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                            <path
                                d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                            </path>
                        </svg>
                    </span>
                    <span id="productImageNext">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                            <path
                                d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                            </path>
                        </svg>
                    </span>
                </div>
            </div>
            <div class="pagination">
                <ul>
                    <li id="slide1" class="active">
                    </li>
                    <li id="slide2">
                    </li>
                    <li id="slide3">
                    </li>
                    <li id="slide4">
                    </li>
                    <li id="slide5">
                    </li>
                    <li id="slide6">
                    </li>
                    <li id="slide7">
                    </li>
                </ul>
            </div>
        </section>

        <div class="contentProductContainer">
        <section class="contentProduct">
            <h1>Londres n°2<small>(x1)</small></h1>
            <h2><strong>Carreau</strong> adhésif <small>20 x 20 cm</small></h2>

          <p>
            Faites de votre maison une véritable galerie d’art, sans abîmer vos murs et sans vous ruiner.
            Faites votre choix parmi un large éventail de style, il y en a pour tous les goûts !
          </p>
          
            <ul class="listQuality">
                <li>Adhère sur toutes surfaces lisses</li>
                <li>Matière ultra-résistante de 1.3 mm</li>
                <li>Couvre les joints de carrelage</li>
                <li>Adapté à toutes vos pièces</li>
            </ul>
          
          {% form 'product', product %}
            <div class="productPrice">
                <div>
                    <div class="discount">
                        <div><span id="regularPrice">2.99</span>€</div>
                        <span id="discountPercent">0%</span>
                    </div>
                    <span class="price"><span id="price">2.99</span>€</span>
                </div>
                <div>
                    <span id="downQuantity">-</span>
                    <input name="quantity" id="quantityCheckout" type="number" value="1" min="1" max="999" maxlength="3" />
                    <span id="upQuantity">+</span>
                </div>                
            </div>
            <div class="btnsOrders">
              
          <input name="id" value="{{ product.variants.first.id }}" type="hidden" />
          <input id="btnCheckout" class="btnCheckout" name="add" value="Ajouter au panier" type="submit" /> 
                <a class="btnSample">commander un échantillon</a>
            </div>

          {% endform %}
    

          
          
            <div class="btnsInfoProduct">
            <a class="btnInfos">Réductions & livraison</a>
            <a href="#calcul">Calculer ma quantité</a>
            </div>
          
        </section>

        <div class="iconesAdvantages">
            <ul>
                <li>
                    <img alt="icône économique" loading="lazy" src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/eco.svg?v=1667834089" />
                    <span>économique
                    </span>
                </li>
                <li>
                    <img alt="icône facile à poser" loading="lazy" src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/speed.svg?v=1667834089" />
                    <span>facile à poser
                    </span>
                </li>
                <li>
                    <img alt="icône waterproof" loading="lazy" src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/waterproof.svg?v=1667834089" />
                    <span>waterproof
                    </span>
                </li>
                <li>
                    <img alt="icône thermo-résistant" loading="lazy" src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/resistant.svg?v=1667834089" />
                    <span>thermo-résistant
                    </span>
                </li>
            </ul>
        </div>

          <section class="trustSlide">
            
            <h3>93% de clients satisfaits</h3>
            
            <div id="splideTrust" class="splide">
            <div class="splide__track">
                <ul class="splide__list">
                    <li class="splide__slide">
                        <div>
            <p class="p1">Bon produit</p>
            <svg role="img" aria-labelledby="starRating" viewBox="0 0 251 46" xmlns="http://www.w3.org/2000/svg"><g class="tp-star"><path class="tp-star__canvas" fill="#00b67a" d="M0 46.330002h46.375586V0H0z"></path><path class="tp-star__shape" d="M39.533936 19.711433L13.230239 38.80065l3.838216-11.797827L7.02115 19.711433h12.418975l3.837417-11.798624 3.837418 11.798624h12.418975zM23.2785 31.510075l7.183595-1.509576 2.862114 8.800152L23.2785 31.510075z" fill="#FFF"></path></g><g class="tp-star"><path class="tp-star__canvas" fill="#00b67a" d="M51.24816 46.330002h46.375587V0H51.248161z"></path><path class="tp-star__canvas--half" fill="#00b67a" d="M51.24816 46.330002h23.187793V0H51.248161z"></path><path class="tp-star__shape" d="M74.990978 31.32991L81.150908 30 84 39l-9.660206-7.202786L64.30279 39l3.895636-11.840666L58 19.841466h12.605577L74.499595 8l3.895637 11.841466H91L74.990978 31.329909z" fill="#FFF"></path></g><g class="tp-star"><path class="tp-star__canvas" fill="#00b67a" d="M102.532209 46.330002h46.375586V0h-46.375586z"></path><path class="tp-star__canvas--half" fill="#00b67a" d="M102.532209 46.330002h23.187793V0h-23.187793z"></path><path class="tp-star__shape" d="M142.066994 19.711433L115.763298 38.80065l3.838215-11.797827-10.047304-7.291391h12.418975l3.837418-11.798624 3.837417 11.798624h12.418975zM125.81156 31.510075l7.183595-1.509576 2.862113 8.800152-10.045708-7.290576z" fill="#FFF"></path></g><g class="tp-star"><path class="tp-star__canvas" fill="#00b67a" d="M153.815458 46.330002h46.375586V0h-46.375586z"></path><path class="tp-star__canvas--half" fill="#00b67a" d="M153.815458 46.330002h23.187793V0h-23.187793z"></path><path class="tp-star__shape" d="M193.348355 19.711433L167.045457 38.80065l3.837417-11.797827-10.047303-7.291391h12.418974l3.837418-11.798624 3.837418 11.798624h12.418974zM177.09292 31.510075l7.183595-1.509576 2.862114 8.800152-10.045709-7.290576z" fill="#FFF"></path></g><g class="tp-star"><path class="tp-star__canvas" fill="#00b67a" d="M205.064416 46.330002h46.375587V0h-46.375587z"></path><path class="tp-star__canvas--half" fill="#00b67a" d="M205.064416 46.330002h23.187793V0h-23.187793z"></path><path class="tp-star__shape" d="M244.597022 19.711433l-26.3029 19.089218 3.837419-11.797827-10.047304-7.291391h12.418974l3.837418-11.798624 3.837418 11.798624h12.418975zm-16.255436 11.798642l7.183595-1.509576 2.862114 8.800152-10.045709-7.290576z" fill="#FFF"></path></g></svg>
            <p class="p2">Bon rapport qualité prix avec expédition rapide.</p>
            <p class="p3">Carole</p>
                     </div>
                   </li>
                </ul>
            </div>
        </div>          
          </section>

        <section id="calcul" class="calculQuantity">
            <img alt="Mesure d'une crédence de cuisine pour calculer sa quantité de carreaux Vinyl Way" src="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/calc.jpg?v=1632479898">
            <h3>Calculateur</h3>
            <div class="inputsCalculQuantity">
                <div>
                    <span>Largeur</span>
                    <input id="inputA" type="number" value="" />
                    <span>cm</span>
                </div>
                <span>x</span>
                <div>
                    <span>Longueur</span>
                    <input id="inputB" type="number" value="" />
                    <span>cm</span>
                </div>
            </div>

            <div class="btnsCalculQuantity">
                <div>
                    <span>Vous avez besoin de</span>
                    <input id="inputC" disabled="" type="number" value="1" />
                    <span>carreaux</span>
                </div>
                <div id="btnCheckoutCalcul" class="btnCheckout">Ajouter au panier</div>
            </div>
        </section>

     {% render 'faq' %}

    <section class="Install" id="installation">
        <div>
            <div>
                <div>
                <video id="videoInstall" poster="https://cdn.shopify.com/s/files/1/0567/1220/0371/files/tile-poster.jpg?v=1668414921" muted="" loop="" playsinline=""
                    alt="Vidéo d'Installation - Comment poser ses carreaux adhésifs Vinyl Way">
                    <source src="https://cdn.shopify.com/videos/c/o/v/e08cb0efd32040f791a7a193a2b98380.mp4"
                        type="video/mp4">
                    Un problème est survenu lors de la lecture de la vidéo.
                </video>
                </div>
            </div>
            <div>
                <h2>
                    Comment poser <small>ses carreaux ?</small>
                </h2>
        <span class="btnInstall"><svg id="btnInstall" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 40 40" width="40" height="40">
                <path d="m15.5 0.932-4.3 4.38 14.5 14.6-14.5 14.5 4.3 4.4 14.6-14.6 4.4-4.3-4.4-4.4-14.6-14.6z">
                </path>
            </svg></span>
        </div>
        </div>
    </section>
          
</div>


<div class="popupDelivery">
            <div class="popupDeliveryBg popupDeliveryHide">

            </div>
            <div class="popupDeliveryContent">
                <span class="popupDeliveryHide">x</span>
              <div>
                <div>
                   <span>Réductions</span>
                  <p>Plus de <strong>30</strong> carreaux : <span class="reduc">-10%</span></p>
                  <p>Plus de <strong>60</strong> carreaux : <span class="reduc">-15%</span></p>
                  <p>Plus de <strong>90</strong> carreaux : <span class="reduc">-20%</span></p>
                </div>
                <div>
                   <span>Livraison</span>
                  <p>Livré sous <strong>5 jours </strong> en France,
                  <br />                  
                  <strong>7 jours </strong> dans l'Union Européenne.
                  </p>
                  <p><span class="deli">Livraison offerte</span> pour <strong>1 échantillon</strong> OU <strong>à partir de 49€</strong>.
                  <br />
                  (5€ si inférieur)
                  </p>
                </div>
              </div>
            </div>
        </div>

        <script>
          
    let shower = ['douche', 'shower'];
    let wall = ['mur', 'wall'];
    let bathroom = ['salledebain', 'bathroom'];
    let shower = ['douche', 'shower'];
    let floor = ['mur', 'floor'];
    let furniture = ['meuble', 'furniture'];
  
   var foundPresent = $.inArray('floor', floor) > -1;
  function loadPiece() {
  alert('foundPresent');    
  }
  loadPiece();
  
  
        </script>